*{
    background-color: black;
    color:white;
}
.box{
    /* height: 300px;
    width: 280px; */
    border:2px solid ;
    font-size: 1.5em;
    background-color:rgb(240, 71, 99);
    color:white;
}

.first{
    position:absolute;
    top:200px;
}
h1{
    position: fixed;
    /* width: 100vw; */
    background-color: rgb(38, 18, 21);
    bottom:20px;
    right:20px;
}
